
.App {
  text-align: center;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

.Navbar-title h1 {
  margin: 0;
  font-size: 3rem;
}

.Navbar-login {
  display: flex;
  align-items: center;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Adjust as needed */
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.Hero form, .Hero div {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 10px 0;
}